<div class="parent-center-center-1">
  <div class="parent-center-center-2">
    <div class="parent-center-center-3">
      <div class="child-center-center centered">
				<h1 class='title-heading'>ITP January Unconference</h1>
				<p class="sub-headings">ITPers <a href="/teach">teaching</a> and <a href="/learn">learning</a> together in January.<br/>
				Text <span class="green-headings">470-865-7758</span> to suggest a topic you can <a href="/teach">teach</a> or want to <a href="/learn">learn</a>, and to vote on other topics!</p> 
      </div>
    </div>
  </div>
</div>