	<div id="home-wrapper" class="shrink90">
	<!-- row 1 -->
		<div class="grid">
			<div class="frame shrink90 bottomRight pullDown">	
			
			<div class="cardFace front">
				<div id="0" class="gif f01"></div>
				<img src="img/frame01.png" height="303" width="374">	
			</div>

			<div class="cardFace back">
				<img src="img/frame01B.png" height="303" width="374">
				<div id="0b" class="backFrame f01 test"></div>
			</div>	

			</div>
		</div>
		
		<div class="grid">
			<div class="frame bottomLeft">
			<div class="cardFace front">
			<div id="1"class="gif f02"></div>
			<img src="img/frame02.png" height="270" width="352">
			</div>
			<div class="cardFace back">
				<img src="img/frame02b.png" height="270" width="352">
				<div id="1b" class="backFrame f02"></div>
			</div>
			</div>
		</div>
		
		<div class="grid">
			<div class="frame shrink80">
			<div class="cardFace front">
			<img src="img/frame03.png" height="306" width="401">
			<div id="2"class="gif f03"></div>
			</div>
			<div class="cardFace back">			
			<img src="img/frame03b.png" height="306" width="401">
			<div id="2b" class="backFrame f03"></div>
			</div>
			</div>
		</div>

	<!-- row 2 -->
	<div class="grid">
		<div class="frame bottomRight pullRight pullDown shrink90">
		<div class="cardFace front">
			<div id="3"class="gif f04"></div>
			<img src="img/frame04.png" height="279" width="361">
			
		</div>
		<div class="cardFace back">
			<img src="img/frame04b.png" height="279" width="361">
			<div id="3b"class="backFrame f04"></div>
		</div>
		</div>
	</div>

	<div class="grid">
		<div class="frame shrink80">
		<div class="cardFace front">
			<img src="img/frame05.png" height="282" width="345">
			<div id="4"class="gif f05"></div>
		</div>
		<div class="cardFace back">
			<img src="img/frame05b.png" height="282" width="345">
			<div id="4b"class="backFrame f05"></div>
		</div>
		</div>
	</div>

	<div class="grid">
		<div class="frame topLeft shrink90 pullLeft pullUp ">
		<div class="cardFace front">
			<div id="5"class="gif f06"></div>
			<img src="img/frame06.png" height="296" width="383">			
		</div>
		<div class="cardFace back">
			<img src="img/frame06b.png" height="296" width="383">
			<div id="5b"class="backFrame f06"></div>
			</div>
		</div>
	</div>

	<!-- row 3 -->
		<div class="grid">
		<div class="frame shrink80 pullRight ">
		<div class="cardFace front">
			<div id="6"class="gif f07"></div>
			<img src="img/frame07.png" height="306" width="389">
		</div>
		<div class="cardFace back">
			<img src="img/frame07b.png" height="306" width="389">
			<div id="6b"class="backFrame f07"></div>
		</div>
		</div>
	</div>

	<div class="grid">
		<div class="frame pullUp pullRight shrink90">
		<div class="cardFace front">
			<div id="7"class="gif f08"></div>
			<img src="img/frame08.png" height="292" width="373">
		</div>
		<div class="cardFace back">
			<img src="img/frame08b.png" height="292" width="373">
			<div id="7b"class="backFrame f08"></div>
		</div>
		</div>
	</div>

	<div class="grid">
		<div class="frame topRight pullUp shrink80 rotCW">
		<div class="cardFace front">
			<img src="img/frame09.png" height="281" width="344">
			<div id="8"class="gif f09"></div>
		</div>
		<div class="cardFace back">
			<img src="img/frame09b.png" height="281" width="344">
			<div id="8b"class="backFrame f09"></div>
		</div>
		</div>
	</div>			
</div>

<script type="text/javascript" src="js/utils/SplitText.js"></script>
<script type="text/javascript" src="js/TweenMax.js"></script>
<script type="text/javascript" src="js/TimelineMax.js"></script>
<script type="text/javascript" src="js/easing/EasePack.js"></script>
<script type="text/javascript" src="/js/portraitAnimation.js"></script>