<div class="parent-center-center-1">
  <div class="parent-center-center-2">
    <div class="parent-center-center-3">
      <div class="child-center-center centered">
				<h1 class='title-heading'>ITP Unconference</h1>
				 <!-- <h1>Jan 19-23rd, 2016</h1> -->

				<div>
					<div style="margin-bottom:5px;" class="dropdown">
						  <button label="save the date" class="btn btn-primary dropdown-toggle btn-lg" type="button" data-toggle="dropdown">
							<a href="#" data-toggle="tooltip" title="Save the date!" style="text-decoration:none;">
							  <h1>Jan 19-23rd, 2016
							  <span class="glyphicon glyphicon-calendar"></span></h1>
						  </a>
						  </button>
					  <ul class="dropdown-menu">
						<!-- via http://carlsednaoui.github.io/add-to-calendar-buttons/generator/generator.html -->
					    <li><a class="add-to-calendar-checkbox icon-google" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&amp;text=ITP%20Unconference&amp;dates=20160119T150000Z/20160123T230000Z&amp;details=&amp;location=&amp;sprop=&amp;sprop=name:">Google Calendar</a></li>
					    <li><a class="add-to-calendar-checkbox icon-ical" target="_blank" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/generator/generator.html%0ADTSTART:20160119T150000Z%0ADTEND:20160123T230000Z%0ASUMMARY:ITP%20Unconference%0ADESCRIPTION:%0ALOCATION:%0AEND:VEVENT%0AEND:VCALENDAR">iCal Calendar</a></li>
					    <li><a class="add-to-calendar-checkbox icon-outlook" target="_blank" href="data:text/calendar;charset=utf8,BEGIN:VCALENDAR%0AVERSION:2.0%0ABEGIN:VEVENT%0AURL:http://carlsednaoui.github.io/add-to-calendar-buttons/generator/generator.html%0ADTSTART:20160119T150000Z%0ADTEND:20160123T230000Z%0ASUMMARY:ITP%20Unconference%0ADESCRIPTION:%0ALOCATION:%0AEND:VEVENT%0AEND:VCALENDAR">Outlook Calendar</a></li>
					    <li><a class="add-to-calendar-checkbox icon-yahoo" target="_blank" href="http://calendar.yahoo.com/?v=60&amp;view=d&amp;type=20&amp;title=ITP%20Unconference&amp;st=20160119T100000Z&amp;dur=10400&amp;desc=&amp;in_loc=">Yahoo! Calendar</a></li>
					  </ul>
					</div>
				</div>

				<div>
					<br/>
				</div>

				<p class="sub-headings">ITPers <a href="/teach">teaching</a> and <a href="/learn">learning</a> together in January.<br/>
				Text <span class="green-headings">609-557-3494</span> to suggest a topic you can <a href="/teach">teach</a> or want to <a href="/learn">learn</a>, and to vote on other topics!</p> 
      </div>
    </div>
  </div>
</div>