/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
    font-family: 'solid_chalk';
    src: url('../fonts/../fonts/kgsecondchancessolid-webfont.eot');
    src: url('../fonts/kgsecondchancessolid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgsecondchancessolid-webfont.woff2') format('woff2'),
         url('../fonts/kgsecondchancessolid-webfont.woff') format('woff'),
         url('../fonts/kgsecondchancessolid-webfont.ttf') format('truetype'),
         url('../fonts/kgsecondchancessolid-webfont.svg#kg_second_chances_solidRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sketch_chalk';
    src: url('../fonts/kgsecondchancessketch-webfont.eot');
    src: url('../fonts/kgsecondchancessketch-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgsecondchancessketch-webfont.woff2') format('woff2'),
         url('../fonts/kgsecondchancessketch-webfont.woff') format('woff'),
         url('../fonts/kgsecondchancessketch-webfont.ttf') format('truetype'),
         url('../fonts/kgsecondchancessketch-webfont.svg#kg_second_chances_sketchRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body {
    height:100%;
    font-family: 'solid_chalk', Helvetica, arial, sans-serif;
    color:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}
a{text-decoration: underline;}
h1, .headings{
	font-family: 'sketch_chalk', Helvetica, arial, sans-serif;
	color: #9a63c9;
}
.headings{
    line-height: 28px;
}
.title-heading{font-size: 70px;}

.green-headings, a, a:hover{
	color: #2EBAAC;
}

.green-headings, p.headings{
	font-size: 30px;
}

p.sub-headings{
	font-size: 18px;
}

body{background: url('../img/bg.png');}
.centered{
	text-align: center;
}

.topic-holder{
	padding: 20px;
	margin-bottom: 20px;
    min-height: 150px;
}

.parent-center-center-1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.parent-center-center-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.parent-center-center-3 {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.child-center-center {
    display: inline-block;
}

.pullLeft{
    left:-15px;
}

.pullRight{
    right:-25px;
}

.pullUp{
    top:-15px;
}
.pullDown{
    bottom:-15px;
}

.shrink90{
    -ms-transform: scale(0.9,0.9); 
    -webkit-transform: scale(0.9,0.9); 
    transform: scale(0.9,0.9); 
}

.shrink80{
    -ms-transform: scale(0.8,0.8); 
    -webkit-transform: scale(0.8,0.8); 
    transform: scale(0.8,0.8); 
}

.rotCW{
    -ms-transform: rotate(0.5deg); 
    -webkit-transform: rotate(0.5deg); 
    transform: rotate(0.5deg);
}

.rotCC{
    -ms-transform: rotate(-0.5deg); 
    -webkit-transform: rotate(-0.5deg); 
    transform: rotate(-0.5deg);
}

.sketch_chalk{font-family: 'sketch_chalk', Helvetica, arial, sans-serif!important;font-size: 25px!important;line-height: 35px;}
.hand {font-family: 'Just Another Hand', cursive!important;font-size: 40px!important;line-height: 40px;}
.handlee {font-family: 'Handlee', cursive;font-size: 40px!important;line-height: 45px;}
.patrickhand{font-family: 'Patrick Hand SC', cursive!important;font-size: 30px!important;}
.gochihand {font-family: 'Gochi Hand', cursive!important;font-size: 25px!important;}
.patrickhand2{font-family: 'Patrick Hand', cursive!important;font-size: 30px!important;line-height: 40px;}
