/* ==========================================================================
   Fonts
   ========================================================================== */
@font-face {
    font-family: 'solid_chalk';
    src: url('../fonts/../fonts/kgsecondchancessolid-webfont.eot');
    src: url('../fonts/kgsecondchancessolid-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgsecondchancessolid-webfont.woff2') format('woff2'),
         url('../fonts/kgsecondchancessolid-webfont.woff') format('woff'),
         url('../fonts/kgsecondchancessolid-webfont.ttf') format('truetype'),
         url('../fonts/kgsecondchancessolid-webfont.svg#kg_second_chances_solidRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'sketch_chalk';
    src: url('../fonts/kgsecondchancessketch-webfont.eot');
    src: url('../fonts/kgsecondchancessketch-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kgsecondchancessketch-webfont.woff2') format('woff2'),
         url('../fonts/kgsecondchancessketch-webfont.woff') format('woff'),
         url('../fonts/kgsecondchancessketch-webfont.ttf') format('truetype'),
         url('../fonts/kgsecondchancessketch-webfont.svg#kg_second_chances_sketchRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

html,body {
    height:100%;
    font-family: 'solid_chalk', Helvetica, arial, sans-serif;
    color:#fff;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
}
a{text-decoration: underline;}
h1, .headings{
	font-family: 'sketch_chalk', Helvetica, arial, sans-serif;
	color: #9a63c9;
}

.title-heading{font-size: 70px;}

.green-headings, a, a:hover{
	color: #2EBAAC;
}

.green-headings, p.headings{
	font-size: 21px;
}

p.sub-headings{
	font-size: 18px;
}

body{background: url('../img/bg.png');}
.centered{
	text-align: center;
}

.topic-holder{
	padding: 20px;
	margin-bottom: 20px;
}

 .parent-center-center-1 {
    position: absolute;
    width: 100%;
    height: 100%;
}

.parent-center-center-2 {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
}

.parent-center-center-3 {
    position: relative;
    display: table-cell;
    vertical-align: middle;
}

.child-center-center {
    display: inline-block;
}